@model IEnumerable<BlogContentEdit>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_StaticLayout";
}


    @foreach(var i in Model)
    {
    <div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-lg mt-6">
        <!-- Image Section -->
        <img class="w-full h-64 object-cover rounded-t-lg" src="~/BlogImage/@i.SectionImage" alt="Blog Post Image">

        <!-- Blog Title -->
        <h1 class="text-4xl font-bold mt-4 mb-2">@i.SectionHeading</h1>

        <!-- Post Metadata -->
        <div class=" items-center text-gray-600 mb-4">
            <div class="flex items-center mr-4">

                <span>@i.UploadUserName</span>
            </div>
            <div>
                <span> Posted on @i.Postdate.ToShortDateString()</span>
            </div>
        </div>

        <!-- Blog Description -->
        <p class="text-gray-700 leading-relaxed mb-4">
            @(i.SectionDescription.Length>=20 ?i.SectionDescription.Substring(0,20)+"....." : i.SectionDescription)
        </p>
    </div>
    }
 

